﻿
@{
    ViewBag.Title = "StdRegForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-12">
                    <!-- PANEL HEADLINE -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Institute Registration Form </h3>

                        </div>
                        <div class="panel-body">

                            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                <div class="hd_titl"></div>
                                <div class="card">
                                    <div class="form " style="padding-right: 20px;
    padding-left: 20px;">
                                        <div class="row box fw header">
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                                                <label for="fname">Owner Name:</label>
                                                <input id="txt_Name" class="form-control" type="text" />
                                            </div>
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">


                                                <label for="fname">Institute Type:</label>
                                                <select id="cmb_Type" class="form-control">
                                                    <option value="0">--Select--</option>
                                                    <option value="1">Franchise</option>
                                                    <option value="2">Partnership</option>

                                                </select>

                                            </div>
                                            
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                                                <label for="fname">Address:</label>
                                                <input id="txt_Address" class="form-control" type="text" height="200" width="400"/>
                                            </div>

                                        </div>
                                        <div class="row box fw header" style="margin-top: 20px;">
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">


                                                <label for="fname">Mobile:</label>
                                                <input id="txt_Mobile" class="form-control" type="text" />

                                            </div>
                                            <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12">
                                                <label for="fname">Email ID:</label>
                                                <input id="txt_Email" class="form-control" type="text" />
                                            </div>
                                            <div class="col-lg-4 col-md-4   col-sm-12 col-xs-12" style="margin-bottom:30px">
                                                <label for="fname">Password:</label>
                                                <input id="txt_Pass" class="form-control" type="password" />
                                            </div>
                                        
                                            <div class="row" style="margin-bottom: 20px;">
                                                <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">

                                                </div>

                                                <div class="col-lg-3 col-md-3   col-sm-12 col-xs-12">
                                                    <input type="submit" name="ctl00$ContentPlaceHolder1$Button1" value="Register" id="btn_Submit" class="btn btn-success mt-lft">
                                                    <input type="submit" name="ctl00$ContentPlaceHolder1$Button2" value="Cancel" id="btn_Cancel" class="btn btn-danger mt-lft">
                                                </div>
                                            </div>
                                            @*<div class="row" style="margin-top: 20px;">
                                                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 box w4 anim3">
                                                        <table id="customers" class="boxd ">
                                                            <tbody>
                                                                <tr style="background-image: linear-gradient(to top, #0064a4, #0570b5, #0a7cc7, #0e89d9, #1296eb) !important;">
                                                                    <th>Leave</th>
                                                                    <th>Duty Leave</th>
                                                                    <th>Out Station Leave</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>Total</td>
                                                                    <td>30</td>
                                                                    <td>30</td>

                                                                </tr>
                                                                <tr>
                                                                    <td> Leave Taken</td>
                                                                    <td>4</td>
                                                                    <td>10</td>

                                                                </tr>
                                                                <tr>
                                                                    <td>Remaining Leave</td>
                                                                    <td>26</td>
                                                                    <td>20</td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-12 box w4 anim3" " style="margin-top: 30px;">
                                                        <div style="overflow-x:auto" class="boxd">
                                                            <table id="customers">
                                                                <tr style="background-image: linear-gradient(to top, #0064a4, #0570b5, #0a7cc7, #0e89d9, #1296eb) !important;">
                                                                    <th>Leave Type</th>
                                                                    <th>From Date</th>
                                                                    <th>To Date</th>
                                                                    <th>Total no of Days</th>
                                                                    <th>Absence of In-Charge</th>
                                                                    <th>Approved/Pending</th>
                                                                    <th>Message</th>
                                                                    <th>Approved Authority</th>


                                                                </tr>
                                                                <tr>
                                                                    <td>Duty Leave</td>
                                                                    <td>01-08-2019</td>
                                                                    <td>04-08-2019</td>
                                                                    <td>4</td>
                                                                    <td>Mr.Pratap Sarangi</td>
                                                                    <td>Approved</td>
                                                                    <td>you should join next days immediately</td>
                                                                    <td>Mr Chitaranjan Mohanty</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Out Station Leave</td>
                                                                    <td>07-08-2019</td>
                                                                    <td>10-08-2019</td>
                                                                    <td>4</td>
                                                                    <td>Mr.Pratap Sarangi</td>
                                                                    <td>Cancelled</td>
                                                                    <td>CM Order Due to University sine day  </td>
                                                                    <td>Mr Chitaranjan Mohanty</td>

                                                                </tr>



                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>*@



                                        </div>







                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/scripts/jquery-library.js"></script>
<script type="text/javascript">
    function showpreview3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#<%=img3.ClientID%>').css('visibility', 'visible');
                $('#<%=img3.ClientID%>').attr('src', e.target.result);
                document.getElementById('imgname').value = reader.value;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            $('#<%=img3.ClientID%>').css('visibility', 'hidden');
        }
    }


    $(document).ready(function () {




    });

    $("#btn_Submit").click(function () {
        var ownerName = $("#txt_Name").val();
        var type = $("#txt_Type selected:").val();
        var address = $("#txt_Add").val();
        var mobile = $("#txt_Mobile").val();
        var email = $("#txt_Email").val();
        var password = $("#txt_Pass").val();
        var insDetails = new Array();
        insDetails = {
            ownerName: ownerName,
            type: type,
            address: address,
            mobile: mobile,
            email: email,
            password: password
        }
        $.ajax({
            type: "POST",
            url: "",
            data: json.stringfy({ insDetails: insDetails }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

            },
            failure: function (response) {
                alert(response);
            },
            error: function (response){
                alert(response);
            }
        })
    })
</script>



