﻿@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/bootstrap.min.css" /> >
<style>
    body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background: url(../images/bg.jpg);
        background-size: cover;
    }

    .login-sec {
        background: #ffffff;
        position: relative;
        margin-top: 90px;
        padding: 30px 20px 44px;
        box-shadow: 2px 2px 9px 2px #a5a5a542;
    }

    .float-right {
        float: right !important;
    }

    .login-sec .copy-text {
        position: relative;
        width: 80%;
        bottom: 20px;
        font-size: 13px;
        text-align: left;
        margin-top: 72px;
    }

    .mt10 {
        margin-right: 10px;
    }

    .toggle-password {
        position: absolute;
        top: 70.2%;
        right: 22px;
        z-index: 1;
        margin-top: -10px;
        cursor: pointer;
        transition: .3s ease all;
    }

    @@media only screen and (max-width:767px) {
        .toggle-password {
            top: 71.8%;
        }
    }

    @@media only screen and (min-width:768px) and (max-width:992px) {
        .toggle-password {
            top: 78.5%;
        }
    }
</style>

<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-12"></div>
            <div class="col-lg-4 col-xs-12 col-sm-12 login-sec">
                <center>
                    <a href="~/Web/Index">
                        <img src="~/images/AVIVOICELOGO.jpg" alt="Avatar" style="width: 75%;margin-bottom:30px" class="avatar" />
                    </a>
                </center>
                <form class="login-form" id="form">

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" id="uname" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
                        <input type="password" class="form-control ptxt" placeholder="Enter Password" id="psw" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" checked="checked" name="remember" class="form-check-input">
                            <small>Remember Me</small>
                        </label>
                        <button type="button" class="cancelbtn btn btn-danger  float-right">Cancel</button>
                        <button type="button" id="submit" class="btn btn-success float-right mt10" onclick="location.href = '../dashboard/Default';">Login</button>
                    </div>
                </form>
                <div class="copy-text"> <a href="http://localhost:2183/Institute/InstituteDetails">Forgot password</a></div>
            </div>

        </div>
    </div>
</section>

