﻿


@{
    ViewBag.Title = "InstituteDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h2>Add a admin here</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Admin</button><br /><br />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Institute Type
                        </th>
                        <th>
                            Institute Address
                        </th>
                        <th>
                            Mobile
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-diss miss="modal"><span aria-hidden="true">&times;</span></button>*@
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add Admin</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="Id">ID</label>
                                <input type="text" class="form-control" id="ID" placeholder="Id" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" id="Name" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <label for="InsType">Institute Type</label>
                                <!--<input type="text" class="form-control" id="InsType" placeholder="Institute Type" />-->
                                <select name="Institute Type" class="form-control" id="InsType">
                                    <option value="Franchise">Franchise</option>
                                    <option value="Partnership">Partnership</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="InsAdd">Institute Address</label>
                                <input type="text" class="form-control" id="InsAdd" placeholder="Institute Address" />
                            </div>
                            <div class="form-group">
                                <label for="Mobile">Mobile</label>
                                <input type="text" class="form-control" id="mob" placeholder="Mobile" />
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control" id="Email" placeholder="Email" />
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_Submit">Add</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //function showpreview3(input) {
    //    if (input.files && input.files[0]) {
    //        var reader = new FileReader();
    //        reader.onload = function (e) {
    //            $('#<%=img3.ClientID%>').css('visibility', 'visible');
    //            $('#<%=img3.ClientID%>').attr('src', e.target.result);
    //            document.getElementById('imgname').value = reader.value;
    //        }
    //        reader.readAsDataURL(input.files[0]);
    //    }
    //    else {
    //        $('#<%=img3.ClientID%>').css('visibility', 'hidden');
    //    }
    //}
    //Add Data Function Usr_Id, Name, image, Email, Phone, Address, Usr_Nm, Pwd, IsActive, IsDelete, AddOn, AddBy, ModOn, ModBy, EmpCode

    $(document).ready(function () {
        debugger;
        loadData();


    });

    $("#btn_Submit").click(function () {
        debugger;
        var res = validate();
        if (res == false) {
            return false;
        }
        var OwnerName = $("#Name").val();
        var InsType = $("#InsType").val();
        var InsAdd = $("#InsAdd").val();
        var Mobile = $("#mob").val();
        var Email = $('#Email').val();

        // insDetails = new Array();
        var ins = {
            OwnerName: OwnerName,
            InsType: InsType,
            InsAdd: InsAdd,
            Mobile: Mobile,
            Email: Email,
        }
        $.ajax({
            type: "POST",
            url: "/Institute/InstituteDetail/",
            data: JSON.stringify(ins),
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            success: function (response) {
                alert(response)
                loadData();
                $('#myModal').modal('hide');
                $('#ID').val("");
                $('#Name').val("");
                $('#InsType').val("");
                $('#InsAdd').val("");
                $('#mob').val("");
                $('#Email').val("");
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        })
    })


    function loadData() {
        debugger;
        $.ajax({
            url: "/Institute/SelectAdmin",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ID + '</td>';
                    html += '<td>' + item.OwnerName + '</td>';
                    html += '<td>' + item.InsType + '</td>';
                    html += '<td>' + item.InsAdd + '</td>';
                    html += '<td>' + item.Mobile + '</td>';
                    html += '<td>' + item.Email + '</td>';
                    html += '<td><a href="#" onclick="return getbyID(' + item.ID + ')">Edit</a> | <a href="#"  onclick="Delele(' + item.ID + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //Function for getting the Data Based upon Employee ID
    function getbyID(ID) {

        $('#Name').css('border-color', 'lightgrey');
        $('#InsType').css('border-color', 'lightgrey');
        $('#InsAdd').css('border-color', 'lightgrey');
        $('#mob').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
        $('#ID').css('border-color', 'lightgrey');
        $.ajax({
            url: "/Institute/getbyID/" + ID,
            typr: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                $("#ID").val(response[0].ID);
                $("#Name").val(response[0].OwnerName);
                $("#InsType").val(response[0].InsType);
                $("#InsAdd").val(response[0].InsAdd);
                $("#mob").val(response[0].Mobile);
                $("#Email").val(response[0].Email);
                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btn_Submit').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating employee's record
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var ID = $("#ID").val();
        var OwnerName = $("#Name").val();
        var InsType = $("#InsType").val();
        var InsAdd = $("#InsAdd").val();
        var Mobile = $("#mob").val()
        var Email = $('#Email').val();
        
        // insDetails = new Array();
        var empObj = {
            ID: ID,
            OwnerName: OwnerName,
            InsType: InsType,
            InsAdd: InsAdd,
            Mobile: Mobile,
            Email: Email
        }

        $.ajax({
            url: "/Institute/InstituteDetail",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
                $('#ID').val("");
                $('#Name').val("");
                $('#InsType').val("");
                $('#InsAdd').val("");
                $('#mob').val("");
                $('#Email').val("");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting employee's record
    function Delele(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Institute/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        $('#ID').val("");
        $('#Name').val("");
        $('#InsType').val("");
        $('#InsAdd').val("");
        $('#mob').val("");
        $('#Email').val("");
        $('#btnUpdate').hide();
        $('#btn_Submit').show();
        $('#Name').css('border-color', 'lightgrey');
        $('#InsType').css('border-color', 'lightgrey');
        $('#InsAdd').css('border-color', 'lightgrey');
        $('#mob').css('border-color', 'lightgrey');
        $('#Email').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery
    function validate() {
        var isValid = true;
        if ($('#Name').val().trim() == "") {
            $('#Name').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#InsType').css('border-color', 'lightgrey');
        }
        if ($('#InsType').val().trim() == "") {
            $('#InsType').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#InsType').css('border-color', 'lightgrey');
        }
        if ($('#InsAdd').val().trim() == "") {
            $('#InsAdd').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#InsAdd').css('border-color', 'lightgrey');
        }
        if ($('#mob').val().trim() == "") {
            $('#mob').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#mob').css('border-color', 'lightgrey');
        }
        if ($('#Email').val().trim() == "") {
            $('#Email').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Email').css('border-color', 'lightgrey');
        }
        
        return isValid;
    }
</script>



